<hr class="mb-4">
<h4 class="mb-3">Name</h4>
<input type="text" class="form-control" [(ngModel)]="rule.name"><br>

<h4 class="mb-3">FileName</h4>
<input type="text" class="form-control" [(ngModel)]="rule.file"><br>

  <h4 class="mb-3 float-left">Attributes</h4>
  <button type="button" id="show1" class="btn  btn-info btn-outline-secondary btn-sm float-left btn-space" data-toggle="collapse" data-target="#hide-attributes">Show</button><br><br>
  <form class="needs-validation" novalidate>
    <div id="hide-attributes" class="collapse in">
      <div class="row" *ngFor="let attribute of rule.attributes; let i = index">
        <div class="col-md-11 ">
          <input type="text" class="form-control" [value]="rule.attributes[i]" (keyup.enter)="rule.attributes[i] = $event.target.value" required>
        </div>
        <button type="button" class="btn btn-outline-danger btn-sm  btn-space1" (click)="deleteAttribute(i)">&times;</button><br>
      </div>
      <!-- Кнопка добавления новых атрибутов. -->
      <br><button type="button" class="btn btn-primary btn-sm float-right btn-space" (click)="addAttribute()">+</button><br>
    </div>

    <hr class="mb-4">
    <h4 class="mb-3">Conditions</h4>

    <div class="row" *ngFor="let condition of rule.conditions; let i = index">
      <div class="col-md-11 " ngModelGroup="rule.conditions">
        <input type="text" class="form-control" [value]="rule.conditions[i]" (keyup.enter)="rule.conditions[i] = $event.target.value" required>
        <div class="invalid-feedback">
          Valid condition is required.
        </div>
      </div>
      <button type="button" class="btn btn-outline-danger btn-sm  btn-space1" (click)="deleteCondition(i)">&times;</button><br>
    </div>

    <!-- Кнопка добавления нового условия. -->
    <br><button type="button" class="btn btn-primary btn-sm float-right btn-space" (click)="addCondition()">+</button><br>

    <hr class="mb-4">
    <h4 class="mb-3">Recommendations</h4>

    <div class="row" *ngFor="let recommendation of rule.recommendations; let i = index">
      <div class="col-md-11 ">
        <!-- Здесь снова лучше ng-repeat'ом выводить поля с рекомендациями. -->
        <input type="text" class="form-control" [value]="rule.recommendations[i]" (keyup.enter)="rule.recommendations[i] = $event.target.value" required>
        <div class="invalid-feedback">
          Valid recommendation is required.
        </div>
      </div>
      <button type="button" class="btn btn-outline-danger btn-sm  btn-space1" (click)="deleteRecommendation(i)">&times;</button><br>
    </div>

    <!-- Кнопка добавления новых рекомендаций. -->
    <br><button type="button" class="btn btn-primary btn-sm float-right btn-space" (click)="addRecommendation()">+</button><br>

    <hr class="mb-4">
    <!-- Кнопка сохранения. -->
    <button class="btn btn-primary btn-lg btn-space float-right" type="submit" (click)="save()">Save</button>
  </form>
  <!-- Кнопка удаления правила. -->
  <button class="btn btn-primary btn-lg btn-space float-right" type="submit" (click)="revertChanges()">Cancel</button>

