<div class="row">

  <div class="col-md-3 text-center">

    <button type="button" class="btn btn-primary btn-block btn-space" (click)="ngOnInit()">+</button><br>
    <hr class="mb-4">

    <h3 class="mb-3 text center">List of rules</h3>

    <div class="btn-group btn-group-sm" >
      <div class="btn-group">
        <button type="button" id="show" class="btn  btn-info btn-outline-secondary btn-sm float-left btn-space" data-toggle="collapse" data-target="#rule.name">Show</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-primary btn-sm float-right btn-space" (click)="createRule()">+</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-info btn-outline-danger btn-sm float-right btn-space" data-toggle="modal" data-target="#deleteModal">&times;</button>
      </div>
    </div>

    <div *ngFor="let rule of rules">
      <ul id="rule.name" class="connectedSortable collapse in">
        <li class="ui-state-default btn btn-outline-secondary text-center"
            style="width:150px;margin-right:5px;margin-left:3px;margin-bottom:1px"
            data-toggle="collapse" data-target="#open-rule1"
            (click)="changeChosenRule(rule)">{{rule.name}}</li>
      </ul>
    </div>

    <div class="modal fade" id="deleteModal" role="dialog">
      <div class="modal-dialog modal-bg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete File</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this file?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="deleteFile()">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="deleteRuleModal" role="dialog">
      <div class="modal-dialog modal-bg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Delete Rule</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this rule?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="deleteRule()">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <!-- !!! Drag&drop demonstration. Could be deleted afterwards!!!
      <ul id="sortable2" class="connectedSortable">
        <li class="ui-state-highlight">Item 11</li>
        <li class="ui-state-highlight">Item 2</li>
      </ul>
    -->

  </div>
  <div id="open-rule1" class="col-md-8 order-md-1 collapse in">
    <rule-edit [ruleId] = chosenRule.id [ruleName] = chosenRule.name></rule-edit>
  </div>


</div>
