<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Issue Report</title>
    <style type="text/css">
        body {
            background-color: #F5F5F5;
            margin: 0;
            padding: 0;
        }
        h3 {
            margin: 0;
            padding: 0;
        }
        span {
            padding-left: 40px;
        }
        .container {
            margin: 40px auto;
            background-color: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 4px;
            width: 600px;
            padding: 20px;
        }
        .item {
            background-color: #E5E5E5;
            border: 1px solid #CCCCCC;
            color: #404040;
            font-family: Helvetica;
            padding: 20px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    #foreach ($result in $results)
        <div class="item">
            <h3>$result.getIssue().getKey()</h3>
            <br/>
            similar issues:<br/>
            #foreach ($issue in $result.getSimilarIssues())
                <span><a href="https://issues.apache.org/jira/browse/$issue.getKey()" target="_blank">$issue.getKey()</a> : $issue.getSummary()</span><br/>
            #end
            <br/>
            labels:<br/>
            #foreach ($label in $result.getLabels())
                <span>$label</span><br/>
            #end
            <br/>
            users:<br/>
            #foreach ($user in $result.getUsers())
                <span>$user.getDisplayName()</span><br/>
            #end
            <br/>
            attachments:<br/>
            #foreach ($attachment in $result.getAttachments())
                <span>$attachment.getFilename()</span><br/>
            #end
            <br/>
            advices:<br/>
            #foreach ($advice in $result.getAdvices())
                <span>$advice</span><br/>
            #end
        </div>
    #end
</div>
</body>
</html>