<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="2">
    <h2>Jresolver Rule Editor</h2>
    <p class="lead">Rule editor for Jresolver</p>
  </div>

<rule-list></rule-list>


  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Jresolver</p>
    <ul class="list-inline">
      <!-- Ссылки на соответственно настройки и about. -->
      <li class="list-inline-item"><a href="#">Settings</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
    </ul>
  </footer>
</div>




<script>
      $(document).ready(function(){
      $('#show').on('click', function () {
        var src = ($('#show').attr('src') === 'img/right.jpg')
            ? 'img/down.jpg'
            : 'img/right.jpg';
         $('#show').attr('src', src);
      });
    });
    </script>
<script>
      $(document).ready(function(){
      $('#show1').on('click', function () {
        var src = ($('#show1').attr('src') === 'img/right.jpg')
            ? 'img/down.jpg'
            : 'img/right.jpg';
         $('#show1').attr('src', src);
      });
    });
    </script>

<!-- Не удалять, это проверка на заполнение полей. -->

<script>

      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
