<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Jresolver Rule Editor</title>

    <link href="css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="css/form-validation.css" rel="stylesheet">
  
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="2">
        <h2>Jresolver Rule Editor</h2>
        <p class="lead">Rule editor for Jresolver</p>
      </div>

      <div class="row">
	  
	<div class="col-md-3 text-center">
	<!-- Здесь создание правил кнопкой + и вывод кнопок для правил, удобнее наверное через ng-repeat. 
	Если создаете методы с другими названиями, меняйте здесь тоже. -->
	
          <button type="button" class="btn btn-primary btn-block btn-space" ng-click="createFile()">+</button><br>
	  <hr class="mb-4">		
	  
	  <!-- repeat'ом все файлы и правила?
           Генерировать id для каждого файла и connectedSortable, 
		   каким-то образом передавать эти id в скрипты внизу. -->
	  <input type="image" id="show" class="float-left btn-space" data-toggle="collapse" data-target="#hide-file" src="img/right.jpg"></input>
	  <h3 class="mb-3 float-left">File_1</h3>
	      
	  <div class="btn-group btn-group-sm" >
	    <div class="btn-group">
	      <button type="button" class="btn btn-outline-primary btn-sm float-right btn-space" ng-click="createRule()">+</button>
	    </div>
	    <div class="btn-group">  
	      <button type="button" class="btn btn-info btn-outline-danger btn-sm float-right btn-space" data-toggle="modal" data-target="#deleteModal">&times;</button>
            </div>		 
	  </div>
		 
   	  <div class="modal fade" id="deleteModal" role="dialog">
            <div class="modal-dialog modal-bg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Delete File</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete this file?</p>
                </div>
                <div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                  <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="deleteFile()">Yes</button>
                </div>
              </div>
            </div>
          </div>
	  
	  
	  <ul id="hide-file" class="connectedSortable collapse in">
	  <!-- Генерировать data-target и соответственно id у collapse in правил, репитом правила. -->
            <li class="ui-state-default btn btn-outline-secondary" data-toggle="collapse" data-target="#open-rule1">Rule_1</li>
          </ul>
 
          <!-- !!!Демонстрация перетаскивания, удалить потом!!! -->
          <ul id="sortable2" class="connectedSortable">
            <li class="ui-state-highlight">Item 1</li>
            <li class="ui-state-highlight">Item 2</li>
          </ul>
		<!-- Конец репита. -->
	    
		 
	  <div class="modal fade" id="deleteRuleModal" role="dialog">
            <div class="modal-dialog modal-bg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Delete Rule</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete this rule?</p>
                </div>
                <div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                  <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="deleteRule()">Yes</button>
                </div>
              </div>
            </div>
          </div>
		
	</div>
	  
        <div id="open-rule1" class="col-md-8 order-md-1 collapse in">
          <h4 class="mb-3 float-left">Attributes</h4>
	  <input type="image" id="show1" class="float-left btn-space" data-toggle="collapse" data-target="#hide-attributes" src="img/right.jpg"></image><br><br>
          <form class="needs-validation" novalidate>
            <div id="hide-attributes" class="collapse in">
	      <div class="row">
                <div class="col-md-11 ">
	        <!-- Здесь снова лучше ng-repeat'ом выводить поля с атрибутами. -->
                  <input type="text" class="form-control" ng-model="attribute" placeholder="" value="">
        	</div>
		<button type="button" class="btn btn-outline-danger btn-sm  btn-space1" ng-click="deleteAttribute()">&times;</button><br>		
              </div>
	      <!-- Кнопка добавления новых атрибутов. -->
	      <br><button type="button" class="btn btn-primary btn-sm float-right btn-space" ng-click="addAttribute()">+</button><br>
	    </div>
		   
            <hr class="mb-4">			
	    <h4 class="mb-3">Conditions</h4>
			
            <div class="row">
              <div class="col-md-11 ">
		<!-- Здесь снова лучше ng-repeat'ом выводить поля с условиями. -->
                <input type="text" class="form-control" ng-model="condition" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid condition is required.
                </div>
              </div>
	      <button type="button" class="btn btn-outline-danger btn-sm  btn-space1" ng-click="deleteCondition()">&times;</button><br>		
            </div>
			
	    <!-- Кнопка добавления нового условия. -->
	    <br><button type="button" class="btn btn-primary btn-sm float-right btn-space" ng-click="addCondition()">+</button><br>

            <hr class="mb-4">
            <h4 class="mb-3">Recommendations</h4>
           
	    <div class="row">
              <div class="col-md-11 ">
	        <!-- Здесь снова лучше ng-repeat'ом выводить поля с рекомендациями. -->
                <input type="text" class="form-control" ng-model="recommendation" placeholder="" value="" required>
		<div class="invalid-feedback">
                  Valid recommendation is required.
                </div>
              </div>
	      <button type="button" class="btn btn-outline-danger btn-sm  btn-space1" ng-click="deleteRecomendation()">&times;</button><br>		
            </div>
		
            <!-- Кнопка добавления новых рекомендаций. -->
	    <br><button type="button" class="btn btn-primary btn-sm float-right btn-space" ng-click="addRecommendation()">+</button><br>
		   
            <hr class="mb-4">
	    <!-- Кнопка сохранения. -->
            <button class="btn btn-primary btn-lg btn-space float-right" type="submit" ng-click="save()">Save</button>
          </form>
	  <!-- Кнопка удаления правила. -->
	  <button class="btn btn-primary btn-lg btn-space float-right" data-toggle="modal" data-target="#deleteRuleModal">Cancel</button>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2018 Jresolver</p>
        <ul class="list-inline">
	  <!-- Ссылки на соответственно настройки и about. -->
          <li class="list-inline-item"><a href="#">Settings</a></li>
          <li class="list-inline-item"><a href="#">About</a></li>
        </ul>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    	
    <script src="js/lib/popper.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/holder.min.js"></script>

    <script src="app/app.module.js"></script>
    <script src="app/app.controller.js"></script>
    <script src="app/app.service.js"></script>
	
    <script>
      $( function() {
        $( '#hide-file, #sortable2' ).sortable({
          connectWith: '.connectedSortable'
        }).disableSelection();
      } );
    </script>
  
    <script>
      $(document).ready(function(){
      $('#show').on('click', function () {
        var src = ($('#show').attr('src') === 'img/right.jpg')
            ? 'img/down.jpg'
            : 'img/right.jpg';
         $('#show').attr('src', src);
      });
    });
    </script>
    <script>
      $(document).ready(function(){
      $('#show1').on('click', function () {
        var src = ($('#show1').attr('src') === 'img/right.jpg')
            ? 'img/down.jpg'
            : 'img/right.jpg';
         $('#show1').attr('src', src);
      });
    });
    </script>
		
	<!-- Не удалять, это проверка на заполнение полей. -->
	
    <script>
	  
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
