<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="2">
    <h2>Jresolver Rule Editor</h2>
    <p class="lead">Rule editor for Jresolver</p>
  </div>

  <rule-list></rule-list>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018 Jresolver</p>
    <ul class="list-inline">
      <!-- Ссылки на соответственно настройки и about. -->
      <li class="list-inline-item"><a href="#">Settings</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
    </ul>
  </footer>
</div>
